<div>
    <h1>{{ thread.title }} (by {{ thread.username }})</h1>

    <form name="newCommentForm" ng-submit="createComment(username, newCommentText)">
        <input type="text" ng-model="newCommentText" placeholder="Write a comment..." required/>
        <input type="text" ng-model="username" placeholder="Username..." required/>
        <button type="submit" class='btn-primary' ng-disabled="newCommentForm.$invalid">Add Comment</button>
    </form>

    <ul>
        <h3 ng-repeat="comment in comments">{{ comment.username }}: {{ comment.text }}</h3>
    </ul>
</div>
